# Virtual environment
venv/
ENV/
env/
.venv/

# Python cache
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Environment variable files
.env
*.env

# Database
*.db

# Editor/IDE
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Log files
*.log

# OS files
.DS_Store
Thumbs.db

# Flask specific
instance/
*.pid

# Pytest cache
.pytest_cache/

# Coverage reports
htmlcov/
.coverage
.cache
nosetests.xml
coverage.xml

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Build
build/
dist/
*.egg-info/

# Docker
*.tar
docker-compose.override.yml